.md-grid{
max-width: 130rem;
}

.md-sidebar--secondary {
	margin-left: 130rem;
}

.profilpic {
	float: right;
	height: 145px;
	width: 145px;
	margin-left: 15px;
}



.md-header-nav__button.md-logo img
{
	height: 2.4rem;
}