{% macro t(key) %}{{ {
  "edit.link.title": "Edit this page",
  "footer.previous": "Vorherige Seite",
  "footer.next": "Nächste Seite",
  "meta.comments": "Kommentare",
  "meta.source": "Source",
  "search.placeholder": "Suche",
  "search.result.placeholder": "Type to start searching",
  "search.result.none": "No matching documents",
  "search.result.one": "1 matching document",
  "search.result.other": "# matching documents",
  "source.link.title": "Go to repository",
  "toc.title": "Inhaltsverzeichnis"
}[key] }}{% endmacro %}
